<!DOCTYPE html>
<html>
<head lang="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>SkyWay Handson</title>
    <link rel="stylesheet" href="./shared/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script type="text/javascript" src="https://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="./shared/key.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
<div class="videosContainer">
    <video id="myStream" autoplay muted="true" onloadedmetadata="onPlay()"></video>
</div>

<div class="myControllerContainer">
    <p>Your id: <span id="my-id">...</span></p>
    <div class="select">
        <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
    </div>
    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
    <form id="make-call">
        <input type="text" placeholder="Join room..." id="join-room">
        <button type="submit">Join</button>
    </form>
    <div id="end-call">
        <p>Currently in room <span id="room-id">...</span></p>
        <button>Leave</button>
    </div>
    <p id="message">識別中</p>
    <p id="expression">感情分析中</p>
</div>

<script id="template" type="text/template">
    <ul class="cf">
        <% for (var key in data) { %>
            <li><%- key %>:<%- data[key] %></li>
        <% } %>
    </ul>
</script>
<script type="text/javascript" src="./js/face-api.min.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>